.insta {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 100px;
}
.instaContainer {
    margin-top: 50px;
    display: grid;
    /* minmax */
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
}
.follow {
    margin-top: 40px;
    text-align: center;
    padding: 12px 80px !important;
}

@media (min-width: 1200px) {
    .insta h2 {
        font-size: 48px;
        line-height: 65px;
    }
}
@media (max-width: 991px) {
    .insta h2 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .instaContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .insta {
        padding-top: 20px;
        padding-bottom: 70px;
    }
    .insta h2 {
        font-size: 28px;
        line-height: 38px;
    }
    .follow {
        font-size: 18px;
        line-height: 21px;
    }
}
