.table {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-radius: 5px;
    border-spacing: 0;
    background-color: transparent;
}
.table th,
.table td {
    padding: 4px 8px;
    vertical-align: middle;
    border-width: 1px 0 0 0;
}
.table th {
    font-weight: 700;
    line-height: 1.5em;
    text-align: left;
}
.table td {
    border-bottom-width: 1px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 1.5em;
}
